* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
}
nav {
  background: linear-gradient(135deg, #3D5A80, #293241);
  height: 80px;
  width: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}
.logo {
  width: 8em;
  padding: 0.2rem;
  cursor: pointer;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
.logo:hover,
.nav-a-hover:hover {
  background: linear-gradient(135deg, #293241, #3D5A80);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  .ul__header {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #2C3E50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav .ul__header li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav .ul__header li a {
    font-size: 20px;
  }
  #check:checked ~ .ul__header {
    left: 0;
  }
}